@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header{
    background-color: #511e01;
}

header .logo{
    height: 100%;
    width: 10%;
    margin-left: 3%;
}

.logo img{
    height: 100%;
    width: 100%;
}

ul{
    font-family: "Bebas Neue", sans-serif;
    color: #eae9e7;
}

ul li a{
    transition: all 400ms;
}

ul li a:hover{
    font-size: 22px;
}

main{
    background-color: #fefaca;
}

.texto{
    background-color: #511e01;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    height: 90%;
    padding: 2%;
    border-radius: 10px;
}

.texto h1{
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
}

span{
    color: #eae9e7;
}

.texto p{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: #eae9e7;
}

.mapa{
    background-color: #511e01;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    height: 90%;
    padding: 2%;
    border-radius: 10px;
}

.mapa h1{
    border-bottom: 2px solid #a5a5a4;
    border-left: 2px solid #a5a5a4;
    border-right: 2px solid #a5a5a4;
    background-color: #eae9e7;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mapa iframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 10px;
}

footer{
    background-color: #511e01; 
    color: #eae9e7;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}